html{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
/*Header*/
header{
    background-color: #2c2b2a;
    display: flex;
    flex-direction: column;
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 215px;
}
#logo-container >img{
    width: 102px;
    cursor: pointer;
}

#nav-bar >ul{
    display: flex;
    justify-content: space-around;
    color: white;
    list-style: none;
    width: 649px;
    margin-right: 204px;
}

#nav-bar >ul >li{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    border: 1px solid #2c2b2a;
    font-weight: 700;
    color: white;
    padding: 6px 14px;
    letter-spacing: 0.4px;
}

a:hover{
    border: 1px solid white;
    color: #a07d56;
}

.header-main{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 203px;
}
.header-main > h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 124px;
    margin-right: 1px;
    letter-spacing: 1px;
}
.line{
    margin-top: -13px;
    width: 170px;
    border-bottom: 4px solid #a07d56;
}
.header-main > p {
    margin-top: 2px;
    word-spacing: 1px;
}

#arrow{
    width: 38px;
    height: 38px;
    border: 1px solid white;
    margin: 180px auto 49px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#arrow>svg{
    color: #a07d56;
    width: 18px;
}


/*Section About us*/
.fixed-width-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64vw;
    margin: 0 auto;
}

.section-header{
    font-family: 'Bebas Neue', cursive;
    font-size: 56px;
    margin-top: 87px;
}
.section-header-info{
    font-size: 16px;
    margin-top: 6px;
    word-spacing: 0.8px;
}
.about-cards-container{
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
}

.card-first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-item{
    display: flex;
    border: 1px solid #cccccc;
    justify-content: space-between;
    width: 427px;
    height: 154px;
}
.card-logo-container{
    display: flex;
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    margin: 25px 0 0 27px;
}
.card-item-info{
    width: 295px;
    margin-top: 20px;
}
.card-item-info>h3{
    color: #a07d56;
}

.card-item-info>p{
    margin-top: 20px;
}
.flag{
    margin-left: 30px;
}
.office{
    margin-bottom: 43px;
    margin-left: 30px;
}
.award{
    margin-top: 203px;
    margin-left: 59px;
}

#dates{
    height: 539px;
    margin-top: 70px;
    margin-left: 30px;
}
.section-divider-line{
    border-bottom: 1px solid #cccccc;
    width: 170px;
    margin-top: 270px;

}
.load-more-btn{
    margin-bottom: -163px;
    cursor: pointer;
    width: 170px;
    height: 32px;
    background-color: #c59a6d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Section Team*/
#section-about-us{
}
#team-cards-container{

    display: flex;
    justify-content: center;
    width: 100%;
    margin: 70px 0 100px 0;

}

.card{
    margin: 0 16px;
}
.image-container{
    border: 1px solid #cccccc;
}
.image-container > img{
    margin: 8px;
}

.team-card-info{
    display: flex;
    margin-top: 1px;
    justify-content: space-between;
}
.team-card-info >h2{
    font-size: 16px;
    margin: 21px 0 0 2px;
    text-transform: uppercase;
    color: #a07d56;
    font-weight: bold;
}

.team-card-info > p{
    font-size: 13px;
    margin: 24px 79px 0 0;
}

.team-social{
    display: flex;
    height: 11px;
    margin-top: 10px;
    margin-left: -4px;
}
.team-social > svg{
    width: 17px;
    margin-right: 1.3px;
}

.white{
    color: white;
}

#works{
    background-color: black;
}



/************************************************/

.slick-dotted.slick-slider.works-slider{
    margin-bottom: 70px;
    margin-left: -73px;
    margin-top: 68px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.works__header{
    padding-top: 100px;
    font-size: 56px;
    color:#ffffff;
    text-transform: uppercase;
    text-align: center;
}
.works__subtitle{
    padding-top: 30px;
    padding-bottom: 70px;
    font-size: 16px;
    color:#ffffff;
    text-align: center;
}
.slider-img-container{
    border: 1px solid #555555;
    margin-right: 30px;
}
.slider-img{
    padding: 15px;
}
.slider-img-title{
    text-transform: uppercase;
    padding-top: 30px;
    color:#c59a6d;
    font-weight: bold;
}
.slider-img-title:after{
    display:block;
    content: '';
    width: 70px;
    height: 1px;
    background-color: #c69b6e;
    margin-top: 15px;
    margin-bottom: 15px;
}
.slider-img-category{
    color:#ababab;
    font-size: 14px;
}
.arrows {
    margin-left: 60px;
    text-align: center;
    padding-bottom: 124px;
}
.slider-arrow{
    display: inline-block;
    outline:none;
    cursor: pointer;
    border: 1px solid white;
    width: 55px;
    height: 55px;
    font-size: 32px;
    color:#c59a6d;
    background-color:#1b1a18;
}
.arrow-prev{
    margin-right: 30px;
}

.slick-dots {

    top: 530px;
    display: flex;
    justify-content: center;
}


.slick-dots li button {
    display: block;
    width: 8px;
    height: 8px;
    border: 1px #ffffff solid;
    background-color:#1b1a18;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    border: 1px #c59a6d solid;
    background-color:#c59a6d;
}




/************************************************/
#services{
    font-weight: bold;
}

.services-cards-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
margin-bottom: -174px;
}
.services-card{
    width: 293px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 54px;
}
.services-card>h3{
    margin-top: 27px;
    color: #a07d56;
}
.services-card>p{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}
.services-card-image{
    height: 130px;
    width: 130px;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a07d56;
}
.fa-desktop{
    width: 60px;
}
.fa-code{
    margin-top: 6px;
    width: 58px;
}

.fa-lightbulb{
    width: 32px;
}


/*Prices*/

.prices-cards-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 96px 0 127px 0;
    width: 1200px;

}

.prices-card{
    width: 270px;
    height: 507px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prices-card:nth-child(3){
    border: 1px solid #cccccc;
    background-color: white;
    padding: 20px;
}
.prices-card-type{
    margin-top: 43px;
    font-size: 18px;
    text-transform: uppercase;
    color: #a07d56;
}
.price-container{
    display: flex;
}
.fa-euro-sign{
    width: 37px;
    margin: 5px 19px 0 3px;
}
.prices-card-price{
    font-size: 71px;
    margin-left: 20px;
}

.prices-card-period{
    margin-top: -11px;
    font-weight: 700;
    font-size: 15px;
}

.prices-card-underline{
    margin-top: 25px;
    border-bottom: 1px solid #a07d56;
    width: 71px;
}
.prices-card-options{
    list-style: none;
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

.prices-card-options>li{
    margin: 14px 0;
}

.prices-card-button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 32px;
    background-color: #c59a6d;
    color: white;
    text-transform: uppercase;
    word-spacing: 1.4px;
    font-size: 14px;
    margin: 33px 0 0 4px;
}

/****************************************/

#video-background{
    background-color: #737372;
    height: 350px;
}

.background-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: bold;
}
.background-content-container>div{
    margin-top: 3px;
    width: 103px;
    border-bottom: 2px solid #a07d56;
}
.background-content-container >h3{
    margin-top: 122px;
    letter-spacing: 0.4px;
    font-size: 33px;
}

.background-content-container >h4{
    margin-right: -1px;
    margin-top: 2px;
    font-size: 33px;
}

/*Testimonials*/


.section-description {
    font-size: 16pt;
    margin-top: 0;
    text-align: center;
    color: rgba(26, 25, 24, 255);
}


.carousel-testimonials {
    width: 60%;
    margin: 50px auto;
}

.user-img-container {
    width: 150px;
    margin: 0 auto;
    padding: 10px;
    border: 0.5px solid #cccccc;
}

.user-image {
    width: 150px;
}


.user-comment {
    margin: 20px 25px;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: rgba(25, 25, 24, 255);
}

.user-info {
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(119, 119, 119, 255);
    position: relative;
}

.user-info::before {
    content: '';
    width: 2%;
    border-bottom: 1px solid rgba(119, 119, 119, 255);
    position: absolute;
    left: 220px;
    top: 50%;
    z-index: 1;
}

.username {
    color: black;
    text-transform: uppercase;
}
/*Clients*/

.wider{
    width: 1170px;
}

.clients-cards-container{
    margin: 65px 0 97px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Facts*/

#facts{
    background-color: #2c2b2a;
}

.facts-cards-container{
    margin: 68px 0 95px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.facts-card{
    display: flex;
    width: 253px;
}
.clients{
    margin-left: 8px;
}
.papers{
    margin-left: 4px;
}
.laptop{
    margin: 0;
}
.coffee{
    margin-right: 8px;
}

.facts-info > h3{
    font-size: 54px;
    margin-top: -17px;
    margin-left: 28px;
}

.facts-info > h5{
    color: #a07d56;
    text-transform: uppercase;
    margin-left: 27px;
    word-spacing: -1px;
    margin-top: -7px;
    font-size: 17px;
}

/*Contact*/

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-info{
    display: flex;
    width: 100%;
    margin-top: 69px;
    justify-content: space-between;
}

.form-info>input{
    background-color: #f6f6f6;
    border: 1px solid #737372;
    width: 335px;
    height: 45px;
    padding: 0 16px;
}
.form-info>input::placeholder{

}


#input-message{
    padding: 15px;
    margin-top: 31px;
    width: 97.3%;
    height: 168px;
    background-color: #f6f6f6;
    border: 1px solid #737372;
}

.submit-btn{
    cursor: pointer;
    background-color: #c59a6d;
    width: 220px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 10px;
    margin: 74px 0 100px 0;
}

.submit-btn>h2{
    margin-left: 2px;
    margin-bottom: 1px;
    word-spacing: -1.5px;
}

/*Find us*/

#find-us{
    background-color: #2c2b2a;
}

.find-us-cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
    margin-bottom: 96px;
}

.find-card{
    display: flex;
}

.phone{
    margin-left: 15px;
}
.phone> .find-info{
    margin-left: 34px;
}
.address{
    margin-left: 41px;
}
.address>.find-info{
    margin-left: 35px;
}

.email{
    margin-right: 152px;
}

.email>.find-info{
    margin-left: 28px;
    margin-right: 7px;
}

.find-info > h3 {
    color: #a07d56;
    font-weight: bold;
    margin-bottom: 17px;
}

.find-info>p{
    margin: 0 0;
    font-size: 14px;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    width: 100%;
}

#copyright-text{
    margin-left: 217px;
    font-size: 14px;
    word-spacing: 1.4px;
}

#social-icons{
    cursor: pointer;
    margin-right: 218px;
}